/* notice.css | @cloudlam */

.uwf-notice {
  position: fixed;
  top: 9rem;
  right: 0;
  width: 20rem;
  padding: 0.5rem 1.0rem;
  z-index: 999;
}

.uwf-notice div.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a7a7a777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uwf-notice div.alert {
  position: relative;
}

.uwf-notice div.toast {
  padding: 0.5rem;
  border: 1px solid rgba(150, 150, 150, 0.7);
  border-radius: 2px;
  font-size: 1.0rem;
  line-height: 1.0rem;
}

.uwf-notice div.toast:hover {
  opacity: 0.7;
}

.uwf-notice div.toast + div.toast {
  margin-top: 0.5rem;
}

.uwf-notice div.toast.error {
  color: #b22222;
  background-color: #ffdddd;
  border: 1px solid rgba(178, 34, 34, 0.5);
}

.uwf-notice div.toast.info {
  color: #1e90ff;
  background-color: #eaf2fd;
  border: 1px solid rgba(30, 144, 255, 0.5);
}

.uwf-notice div.toast.success {
  color: #228b22;
  background-color: #dfffdf;
  border: 1px solid rgba(34, 139, 34, 0.5);
}

.uwf-notice div.toast.warning {
  color: #daa520;
  background-color: #fffaeb;
  border: 1px solid rgba(218, 165, 32, 0.5);
}

.uwf-notice div.toast p {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 17.5rem;
  word-break: break-all;
  word-wrap: normal;
}

.uwf-notice div.toast span {
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
