<div class="uwf-page uwf-form">
  <div class="uwf-input">
    <label for="old_pwd">Old</label>
    <input type="password" name="old_pwd" id="old_pwd">
  </div>
  <div class="uwf-input">
    <label for="new_pwd">New</label>
    <input type="password" name="new_pwd" id="new_pwd">
  </div>
  <div class="uwf-input">
    <label for="confirm_pwd">Confirm</label>
    <input type="password" name="confirm_pwd" id="confirm_pwd">
  </div>
  <div class="uwf-input">
    <button type="button">Submit</button>
    <button type="button">Cancel</button>
  </div>
</div>