/* page.css | @cloudlam */

.uwf-page {
  width: calc(100% - 4rem);
  width: -moz-calc(100% - 4rem);
  width: -webkit-calc(100% - 4rem);
  padding: 2rem;
}

.uwf-form .uwf-input {
  width: 25.0rem;
  padding: 1.0rem;
  font-size: 1.0rem;
  text-align: right;
  vertical-align: middle;
}

.uwf-form .uwf-input input,
.uwf-form .uwf-input textarea,
.uwf-form .uwf-input select,
.uwf-form .uwf-input .uwf-radio,
.uwf-form .uwf-input .uwf-checkbox {
  width: 16.0rem;
  height: 1.8rem;
  padding: 0 0.25rem 0 0.25rem;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.uwf-form .uwf-input input,
.uwf-form .uwf-input textarea,
.uwf-form .uwf-input select {
  border: 1px solid #dfdfdf;
  border-radius: 0.2rem;
}

.uwf-form .uwf-input label {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  vertical-align: middle;
}

.uwf-form .uwf-input textarea {
  height: 5.0rem;
  padding: 0.25rem;
  resize: none;
}

.uwf-form .uwf-input .uwf-radio,
.uwf-form .uwf-input .uwf-checkbox {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.uwf-form .uwf-input .uwf-radio input[type="radio"],
.uwf-form .uwf-input .uwf-checkbox input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
}

.uwf-setting table {
  width: 100%;
  border-collapse: collapse;
}

.uwf-setting table tbody tr td {
  width: 70%;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.uwf-setting table tbody tr td.uwf-setting-title {
  width: 30%;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #a3a3a3;
  text-align: right;
  vertical-align: top;
}

.uwf-setting table tbody tr + tr.uwf-setting-item {
  border-top: 1px solid rgba(150, 150, 150, 0.3);
}

.uwf-setting table tbody tr + tr.uwf-setting-item td {
  padding-top: 2rem;
}

.uwf-setting table tbody tr td.uwf-setting-item-last {
  padding-bottom: 2rem;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox {
  width: 2rem;
  height: 1.5rem;
  border: 1px solid rgba(150, 150, 150, 0.7);
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.blue {
  background-color: #1e90ff;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.red {
  background-color: #b22222;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.green {
  background-color: #228b22;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.yellow {
  background-color: #daa520;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.gray {
  background-color: #696969;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.black {
  background-color: #24292e;
}

.uwf-setting table tbody tr td input[type=radio], 
.uwf-setting table tbody tr td span, 
.uwf-setting table tbody tr td label {
  cursor: pointer;
  font-size: 1.0rem;
  vertical-align: middle;
}
