/* page.css | @cloudlam */

.uwf-page {
  width: calc(100% - 4rem);
  width: -moz-calc(100% - 4rem);
  width: -webkit-calc(100% - 4rem);
  padding: 2rem;
}

.uwf-page-control {
  padding: 1.0rem;
  text-align: right;
}

.uwf-page-control button {
  height: 2.0rem;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.3rem;
}

.uwf-page-control button:hover {
  background-color: #eaecef;
}

.uwf-page-control button.uwf-page-control-edit {
  display: inline-block;
}

.uwf-page-control button.uwf-page-control-done, 
.uwf-page-control button.uwf-page-control-cancel {
  display: none;
}

.uwf-page-control button + button {
  margin-left: 0.5rem;
}

.uwf-page-control button label, 
.uwf-page-control button i {
  font-size: 1.0rem;
  vertical-align: middle;
  cursor: pointer;
}

.uwf-page-control button i + label {
  margin-left: 0.25rem;
}

.uwf-form {
  text-align: center;
}

.uwf-input {
  width: 25.0rem;
  padding: 1.0rem;
  font-size: 1.0rem;
  text-align: right;
  vertical-align: middle;
  margin: 0 auto;
}

.uwf-input div {
  position: relative;
}

.uwf-input input,
.uwf-input textarea,
.uwf-input select,
.uwf-radio,
.uwf-checkbox,
.uwf-file {
  width: 16.0rem;
  height: 1.8rem;
  line-height: 1.8rem;
  padding: 0 0.25rem 0 0.25rem;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.uwf-input input,
.uwf-input textarea,
.uwf-input select {
  border: 1px solid #dfdfdf;
  border-radius: 0.2rem;
}

.uwf-input label {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.8rem 0 0.8rem;
  margin: 0;
  cursor: pointer;
}

.uwf-input textarea {
  height: 5.0rem;
  resize: none;
}

.uwf-radio,
.uwf-checkbox,
.uwf-file {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.uwf-radio input[type="radio"],
.uwf-checkbox input[type="checkbox"] {
  width: 1.0rem;
  height: 1.0rem;
  margin: 0;
}

.uwf-radio input[type="radio"] + label,
.uwf-checkbox input[type="checkbox"] + label {
  padding: 0 0.8rem 0 0.4rem;
}

.uwf-file {
  border: 1px solid #dfdfdf;
  border-radius: 0.2rem;
  min-height: 1.8rem;
  height: auto;
}

.uwf-file:hover::after {
  content: "Click or Drag";
  position: absolute;
  right: 0;
  font-size: 0.8rem;
  color: #696969;
  font-style: italic;
}

.uwf-file input[type="file"] {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  border: 0;
  opacity: 0;
  font-size: 0;
  overflow: hidden;
  cursor: pointer;
}

.uwf-file input[type="file"] + button {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: -0.25rem;
  background-color: #ffffff;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

.uwf-file input[type="file"]:hover + button {
  background-color: #eaecef;
}

.uwf-file label {
  display: block;
  height: 1.8rem;
  line-height: 1.8rem;
  padding: 0 0.2rem;
  cursor: default;
}

.uwf-file label:hover {
  color: #a3a3a3;
}

.uwf-setting table {
  width: 100%;
  border-collapse: collapse;
}

.uwf-setting table tbody tr td {
  width: 55%;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.uwf-setting table tbody tr td.uwf-setting-title {
  width: 25%;
  font-size: 1.25rem;
  font-weight: bold;
}

.uwf-setting table tbody tr td.uwf-setting-subtitle {
  width: 20%;
  text-align: right;
}

.uwf-setting table tbody tr td.uwf-setting-select {
  position: relative;
}

.uwf-setting table tbody tr td.uwf-setting-select div, 
.uwf-setting table tbody tr td.uwf-setting-select ul {
  display: inline-block;
  border: 1px solid #dfdfdf;
  border-radius: 0.2rem;
  cursor: pointer;
}

.uwf-setting table tbody tr td.uwf-setting-select div, 
.uwf-setting table tbody tr td.uwf-setting-select ul li {
  position: relative;
  width: 12.0rem;
  height: 1.0rem;
  line-height: 1.0rem;
  padding: 0.5rem;
  font-size: 1.0rem;
  vertical-align: middle;
}

.uwf-setting table tbody tr td.uwf-setting-select div span {
  position: absolute;
  right: 0.2rem;
}

.uwf-setting table tbody tr td.uwf-setting-select ul {
  position: absolute;
  left: 2rem;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  z-index: 99;
}

.uwf-setting table tbody tr td.uwf-setting-select.show ul {
  display: inline-block;
}

.uwf-setting table tbody tr td.uwf-setting-select.hide ul {
  display: none;
}

.uwf-setting table tbody tr td.uwf-setting-select ul li:hover {
  background-color: #0366d6;
  color: #ffffff;
}

.uwf-setting table tbody tr td.uwf-setting-select div label span, 
.uwf-setting table tbody tr td span.uwf-setting-colorbox {
  position: relative;
  float: left;
  width: 1.25rem;
  height: 0.8rem;
  border: 1px solid rgba(150, 150, 150, 0.7);
  margin: 0 0.25rem;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.blue {
  background-color: #1e90ff;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.red {
  background-color: #b22222;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.green {
  background-color: #228b22;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.yellow {
  background-color: #daa520;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.gray {
  background-color: #696969;
}

.uwf-setting table tbody tr td span.uwf-setting-colorbox.black {
  background-color: #24292e;
}

.uwf-setting table tbody tr td input[type=radio], 
.uwf-setting table tbody tr td span, 
.uwf-setting table tbody tr td label {
  cursor: pointer;
  font-size: 1.0rem;
  vertical-align: middle;
}

.uwf-profile {
  position: relative;
}

.uwf-profile div.uwf-profile-left, 
.uwf-profile div.uwf-profile-right {
  position: absolute;
  display: inline-block;
  padding: 0 1.0rem;
}

.uwf-profile div.uwf-profile-left {
  left: 0;
  width: calc(40% - 2rem);
  width: -moz-calc(40% - 2rem);
  width: -webkit-calc(40% - 2rem);
  text-align: right;
}

.uwf-profile div.uwf-profile-right {
  right: 0;
  width: calc(60% - 2rem);
  width: -moz-calc(60% - 2rem);
  width: -webkit-calc(60% - 2rem);
  text-align: left;
}

.uwf-profile div.uwf-profile-left img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 0.5rem;
}

.uwf-profile-item {
  margin-bottom: 1.0rem;
}

.uwf-profile-item.uwf-input {
  width: 100%;
  padding: 0;
  text-align: left;
}

.uwf-profile-item.uwf-input input, 
.uwf-profile-item.uwf-input textarea,
.uwf-profile-item.uwf-input select {
  width: 12.0rem;
  display: none;
}

.uwf-profile-item.uwf-input label {
  height: 1.8rem;
  line-height: 1.8rem;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
} 

.uwf-profile-item.uwf-input label:first-child {
  font-weight: bold;
  width: 5.0rem;
  text-align: right;
}
