<div class="uwf-page uwf-profile">
  <div class="uwf-page-control">
    <button id="uwf-profile-edit" class="uwf-page-control-edit"><i class="material-icons">edit</i><label>Edit</label></button>
    <button id="uwf-profile-done" class="uwf-page-control-done"><i class="material-icons">done</i><label>Done</label></button>
    <button id="uwf-profile-cancel" class="uwf-page-control-cancel"><i class="material-icons">clear</i><label>Cancel</label></button>
  </div>
  <div class="uwf-profile-left">
    <div id="uwf-profile-photo">
      <img src="./static/image/head.jpg" alt="">
      <input id="uwf-profile-photo-input" type="file" style="display:none">
    </div>
  </div>
  <div class="uwf-profile-right">
    <div class="uwf-profile-item uwf-input">
      <label for="uwf-profile-name">Name</label>
      <input id="uwf-profile-name" type="text" value="" data-bind-profile="name">
      <label data-bind-profile="name"></label>
    </div>
    <div class="uwf-profile-item uwf-input">
      <label for="uwf-profile-bio">Bio</label>
      <textarea id="uwf-profile-bio" type="text" value="" data-bind-profile="bio"></textarea>
      <label data-bind-profile="bio"></label>
    </div>
  </div>
</div>