<div class="uwf-page uwf-profile">
  <h2>Profile</h2>
  <div class="uwf-profile-left">
    <img src="./static/image/head.jpg" alt="">
  </div>
  <div class="uwf-profile-right">
    <div class="uwf-profile-item uwf-input">
      <label for="uwf-profile-name">Name</label>
      <input id="uwf-profile-name" type="text" value="User">
      <label>User</label>
    </div>
    <div class="uwf-profile-item uwf-input">
      <label for="uwf-profile-bio">Bio</label>
      <textarea id="uwf-profile-bio" type="text" value=""></textarea>
      <label></label>
    </div>
  </div>
</div>