<div class="uwf-setting">
  <table>
    <tbody>
      <tr class="uwf-setting-item">
        <td class="uwf-setting-title" rowspan="2">SIDEBAR TYPE</td>
        <td>
          <input id="uwf-setting-sidebartype-s" name="uwf-setting-sidebartype" type="radio">
          <label for="uwf-setting-sidebartype-s">Simplified</label>
        </td>
      </tr>
      <tr>
        <td class="uwf-setting-item-last">
          <input id="uwf-setting-sidebartype-d" name="uwf-setting-sidebartype" type="radio">
          <label for="uwf-setting-sidebartype-d">Detailed</label>
        </td>
      </tr>
      <tr class="uwf-setting-item">
        <td class="uwf-setting-title" rowspan="5">SIDEBAR COLOR</td>
        <td>
          <input id="uwf-setting-sidebarcolor-blue" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-blue">
            <span class="uwf-setting-colorbox blue"></span>
            Dodgerblue
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <input id="uwf-setting-sidebarcolor-red" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-red">
            <span class="uwf-setting-colorbox red"></span>
            Firebrick
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <input id="uwf-setting-sidebarcolor-green" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-green">
            <span class="uwf-setting-colorbox green"></span>
            Forestgreen
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <input id="uwf-setting-sidebarcolor-yellow" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-yellow">
            <span class="uwf-setting-colorbox yellow"></span>
            Goldenrod
          </label>
        </td>
      </tr>
      <tr>
        <td class="uwf-setting-item-last">
          <input id="uwf-setting-sidebarcolor-gray" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-gray">
            <span class="uwf-setting-colorbox gray"></span>
            Dimgray
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
