<div class="uwf-setting">
  <table>
    <tbody>
      <tr class="uwf-setting-item">
        <td class="uwf-setting-title">SIDEBAR TYPE</td>
        <td>
          <input id="uwf-setting-sidebartype-s" name="uwf-setting-sidebartype" type="radio">
          <label for="uwf-setting-sidebartype-s">Simplified</label>
        </td>
        <td>
          <input id="uwf-setting-sidebartype-d" name="uwf-setting-sidebartype" type="radio">
          <label for="uwf-setting-sidebartype-d">Detailed</label>
        </td>
      </tr>
      <tr class="uwf-setting-item">
        <td class="uwf-setting-title" rowspan="2">SIDEBAR COLOR</td>
        <td>
          <div class="uwf-setting-colorbox blue"></div>
          <input id="uwf-setting-sidebarcolor-blue" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-blue">Dodgerblue</label>
        </td>
        <td>
          <div class="uwf-setting-colorbox red"></div>
          <input id="uwf-setting-sidebarcolor-red" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-red">Firebrick</label>
        </td>
        <td>
          <div class="uwf-setting-colorbox green"></div>
          <input id="uwf-setting-sidebarcolor-green" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-green">Forestgreen</label>
        </td>
      </tr>
      <tr>
        <td>
          <div class="uwf-setting-colorbox yellow"></div>
          <input id="uwf-setting-sidebarcolor-yellow" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-yellow">Goldenrod</label>
        </td>
        <td>
          <div class="uwf-setting-colorbox gray"></div>
          <input id="uwf-setting-sidebarcolor-gray" name="uwf-setting-sidebarcolor" type="radio">
          <label for="uwf-setting-sidebarcolor-gray">Dimgray</label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
