<div class="uwf-page uwf-setting">
  <table>
    <tbody>
      <tr>
        <td rowspan="3" class="uwf-setting-title">INTERFACE SETTING</td>
        <td class="uwf-setting-subtitle">SIDEBAR TYPE</td>
        <td class="uwf-setting-select hide">
          <div id="uwf-setting-sidebartype">
            <label></label>
            <span>&#9662;</span>
          </div>
          <ul class="uwf-setting-option">
            <li>Detail</li>
            <li>Simplified</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="uwf-setting-subtitle">SIDEBAR COLOR</td>
        <td class="uwf-setting-select hide">
          <div id="uwf-setting-sidebarcolor">
            <label></label>
            <span>&#9662;</span>
          </div>
          <ul class="uwf-setting-option">
            <li><span class="uwf-setting-colorbox blue"></span>Dodgerblue</li>
            <li><span class="uwf-setting-colorbox red"></span>Firebrick</li>
            <li><span class="uwf-setting-colorbox green"></span>Forestgreen</li>
            <li><span class="uwf-setting-colorbox yellow"></span>Goldenrod</li>
            <li><span class="uwf-setting-colorbox gray"></span>Dimgray</li>
            <li><span class="uwf-setting-colorbox black"></span>Black</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="uwf-setting-subtitle">HEAD COLOR</td>
        <td class="uwf-setting-select hide">
          <div id="uwf-setting-headcolor">
            <label></label>
            <span>&#9662;</span>
          </div>
          <ul class="uwf-setting-option">
            <li><span class="uwf-setting-colorbox"></span>White</li>
            <li><span class="uwf-setting-colorbox blue"></span>Dodgerblue</li>
            <li><span class="uwf-setting-colorbox red"></span>Firebrick</li>
            <li><span class="uwf-setting-colorbox green"></span>Forestgreen</li>
            <li><span class="uwf-setting-colorbox yellow"></span>Goldenrod</li>
            <li><span class="uwf-setting-colorbox gray"></span>Dimgray</li>
            <li><span class="uwf-setting-colorbox black"></span>Black</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
