/* validate.css | @cloudlam */

.uwf-validate {
  position: absolute;
  display: inline;
  line-height: 1.8rem;
  font-size: 0.8rem;
  color: #ca2020;
}

.uwf-input input[invalid] {
  border: 1px solid #ca202090;
}

.uwf-input label.uwf-validate {
  padding: 0 1.0rem;
}
