<div class="uwf-head">
  <label class="uwf-head-title"></label>
  <label class="uwf-head-subtitle"></label>
  <div class="uwf-head-user">
    <img src="../static/image/head.jpg" alt="">
    <label>USER</label>
    <span></span>
    <ul class="uwf-head-user-submenu">
      <div class="triangle"><span></span></div>
      <li class="uwf-head-user-submenu-button"><a href="#profile"><label>PROFILE</label></a></li>
      <li class="uwf-head-user-submenu-button"><a href="#"><label>CHANGE PWD</label></a></li>
      <li class="uwf-head-user-submenu-button"><a href="#setting"><label>SETTING</label></a></li>
      <li class="uwf-head-user-submenu-button"><a href="#help"><label>HELP</label></a></li>
      <li class="uwf-head-user-submenu-button"><a href="#logout"><label>LOGOUT</label></a></li>
    </ul>
  </div>
</div>
