<div class="uwf-head">
  <div class="uwf-head-title"></div>
  <div class="uwf-head-subtitle"></div>
  <div class="uwf-head-user">
    <img src="../static/image/head.jpg" alt="">
    <label>USER</label>
    <label>&#129171;</label>
    <ul class="uwf-head-user-submenu">
      <div class="triangle"><span></span></div>
      <li class="uwf-head-user-submenu-button"><a href="#"><label>INFORMATION</label></a></li>
      <li class="uwf-head-user-submenu-button"><a href="#"><label>LOGOUT</label></a></li>
    </ul>
  </div>
</div>
